.comments {
  padding: 1.5rem;
  margin: 0 1.5rem;
  background-color: var(--white);
  border-radius: 10px;
}

.comments_header {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: var(--navy-blue);
  margin-bottom: 1rem;
}

.comment_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment_textarea {
  outline-color: var(--blue);
  color: var(--navy-blue);
  overflow: hidden;
}

.comment_charcount {
  font-size: 0.9375rem;
  color: var(--blue-gray);
}

.comment_charcount--error {
  color: var(--red);
  font-weight: 600;
}

@media (min-width: 768px) {
  .comments {
    padding: 1.5rem 2rem;
    margin: 0;
  }
}
