@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --off-white: #f7f8fd;
  --light-gray: #f2f4ff;
  --white: #ffffff;
  --violet: hsl(282, 83%, 52%);
  --blue: hsl(230, 76%, 59%);
  --lightblue: hsl(204, 94%, 68%);
  --navy-blue-dark: hsl(230, 31%, 31%);
  --navy-blue: hsl(231, 33%, 34%);
  --blue-gray: hsl(224, 20%, 49%);
  --btn-hover: hsl(230, 100%, 91%);
  --light-orange: hsl(14, 83%, 74%);
  --red: hsl(0, 67%, 53%);
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-white);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select,
label {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
