.body {
  color: var(--navy-blue);
}

.body--b1 {
  font-size: 1rem;
  line-height: 23px;
}

.body--b2 {
  font-size: 0.9375rem;
  line-height: 22px;
}

.body--b3 {
  font-size: 0.8125rem;
  line-height: 19px;
  font-weight: 600;
}
