.comment {
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
  font-size: 0.8125rem;
  line-height: 19px;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  padding-top: 1rem;
}

.comment:first-child {
  border: none;
  padding-top: 0;
}

.comment_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poster {
  display: flex;
  flex-direction: column;
}
.poster_name {
  font-weight: bold;
  letter-spacing: -0.180556px;
  color: var(--navy-blue);
}

.poster_username {
  font-weight: 400;
  line-height: 19px;
  color: var(--blue-gray);
}

.comment_settings {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comment__settings_btn {
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.comment__delete_icon {
  margin-top: -2px;
  height: 20px;
  transition: all 0.2s;
}

.comment__delete_icon:hover {
  transform: translateY(-2px);
}

.comment_content {
  color: var(--blue-gray);
}

.comment_error {
  text-align: center;
}

@media (min-width: 768px) {
  .comment {
    font-size: 0.9375rem;
  }
}
