.tag {
  color: var(--blue);
  background-color: var(--light-gray);
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 19px;
  padding: 0.5rem 0.891rem;
  text-decoration: none;
  border-radius: 10px;
}
