.tag {
  display: flex;
  align-items: center;
  max-height: 30px;
  padding: 0.5rem 0.891rem;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 19px;
  text-decoration: none;
  color: var(--blue);
  background-color: var(--light-gray);
  border-radius: 10px;
}
