.header {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 825px;
  height: 72px;
  padding: 1rem 10px 1rem 1.5rem;
  position: relative;
  background: url("../../../assets/suggestions/mobile/background-header.png")
    no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .header {
    padding: 0;
    height: 178px;
    background: transparent;
  }
}

@media (min-width: 1440px) {
  .header {
    flex-direction: column;
    align-self: stretch;
    max-width: 255px;
    height: 528px;
    position: sticky;
    top: 3.5rem;
  }
}
