.caption {
  display: block;
  color: var(--blue-gray);
  font-size: 0.8125rem;
  line-height: 19px;
}

.caption-bold {
  display: block;
  color: var(--navy-blue);
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 19px;
  letter-spacing: -0.194444px;
}

input {
  width: 100%;
  margin: 1rem 0 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--off-white);
}

.input--normal {
  height: 3rem;
}

.input--large {
  height: 6rem;
}

@media (min-width: 768px) {
  .caption {
    font-size: 0.875rem;
    line-height: 20px;
  }

  .caption-bold {
    color: var(--navy-blue);
    font-size: 0.875rem;
    line-height: 20px;
  }
}
