.replies {
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
  border-left: 1px solid rgb(0, 0, 0, 0.1);
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .replies {
    padding-left: 2rem;
  }
}
