.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  max-width: 226px;
  margin: 1.5rem;
  height: 178px;
  gap: 8px;
  background-color: var(--white);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .tags {
    flex: 1;
    max-width: none;
    margin: 0 10px;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .tags {
    margin: 1.5rem 0;
  }
}
