.roadmap {
  padding: 1.1875rem 1.5rem 1.5rem;
  margin: 0 1.5rem 1.5rem;
  height: 202px;
  background-color: var(--white);
  border: 1px solid black;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .roadmap {
    flex: 1;
    margin: 0;
    height: auto;
  }
}
