.menu {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  height: calc(100vh);
  border: 1px solid black;
  margin-top: 72px;
  visibility: 0;
  opacity: 0;
}

.menu--active {
  visibility: 1;
  opacity: 1;
}

@media (min-width: 768px) {
  .menu {
    position: static;
    flex: 1;
    height: auto;
    background: transparent;
    visibility: visible;
    opacity: 1;
  }
}
