.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--off-white);
  height: calc(100vh);
  margin-top: 72px;
  visibility: hidden;
  opacity: 0;
}

.menu--active {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    position: static;
    flex: 1;
    margin: 0;
    height: auto;
    background: transparent;
    visibility: visible;
    opacity: 1;
  }
}
