.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--off-white);
  height: calc(100vh);
  margin-top: 72px;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100px);
  transition: 0.3s all;
}

.menu--active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateX(0);
}

.menubg {
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 273px;
  background-color: #000000;
  opacity: 0.5;
  z-index: 0;
}

@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    flex: 1 1 66%;
    position: static;
    height: auto;
    margin: 0;
    background: transparent;
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}
