.roadmap {
  padding: 1.1875rem 1.5rem 1.5rem;
  margin: 0 1.5rem 1.5rem;
  height: 202px;
  background-color: var(--white);
  border-radius: 10px;
}

.roadmap__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roadmap__link {
  font-size: 0.8125rem;
}

li {
  display: flex;
  justify-content: space-between;
}

li + li {
  margin-top: 0.5rem;
}

.roadmap__list {
  list-style-type: none;
  margin-top: 1.5rem;
  padding: 0;
  font-size: 1rem;
  color: var(--blue-gray);
}

.count {
  font-weight: 700;
}

.roadmap__list_type {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bullet {
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

.planned {
  background-color: var(--light-orange);
}

.in-progress {
  background-color: var(--violet);
}

.live {
  background-color: var(--lightblue);
}

@media (min-width: 768px) {
  .roadmap {
    flex: 1;
    margin: 0;
    height: auto;
  }
}
