.suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 1.5rem;
  padding: 1.5rem;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 10px;
  border-top: 6px solid var(--violet);
}

.suggestion--planned {
  border-top: 6px solid var(--light-orange);
}

.suggestion--in-progress {
  border-top: 6px solid var(--violet);
}

.suggestion--live {
  border-top: 6px solid var(--lightblue);
}

.suggestion__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 100%;
  order: 0;
}

.suggestion__title {
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 18.79px;
  letter-spacing: -0.18px;
  color: var(--navy-blue);
  text-decoration: none;
}

.suggestion__user {
  font-size: 0.8125rem;
  line-height: 18.79px;
  letter-spacing: -0.18px;
  color: var(--navy-blue);
}

.suggestion__date {
  font-size: 0.8125rem;
  line-height: 18.79px;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: var(--navy-blue);
}

.suggestion__username {
  font-style: italic;
  color: var(--blue-gray);
  padding: 0 0.5rem;
  margin-left: 0.5rem;
  background-color: var(--light-gray);
  border-radius: 10px;
}

.suggestion__description {
  padding: 0.625rem 0 0.5rem;
  font-size: 0.8125rem;
  line-height: 19px;
  color: var(--blue-gray);
}

@media (min-width: 768px) {
  .suggestion {
    margin: 0;
  }
}

@media (min-width: 1100px) {
  .suggestion__title {
    font-size: 1.125rem;
  }

  .suggestion__user {
    font-size: 1rem;
    line-height: 23px;
  }

  .suggestion__date {
    font-size: 0.9375rem;
    line-height: 22px;
  }

  .suggestion__description {
    font-size: 1rem;
  }
}
