.button {
  padding: 0.75rem 1rem;
  font-weight: bold;
  font-size: 0.8125rem;
  text-align: center;
  color: var(--white);
  border: none;
  border-radius: 10px;
  transition: 0.2s all;
  cursor: pointer;
  text-decoration: none;
}

/* Basic Button Colors */
.button--violet {
  background-color: var(--violet);
}

.button--violet:hover {
  background-color: #c75af6;
}

.button--blue {
  background-color: var(--blue);
}

.button--blue:hover {
  background-color: #7c91f9;
}

.button--navy-blue {
  background-color: var(--navy-blue);
}

.button--navy-blue:hover {
  background-color: #656ea3;
}

.button--red {
  background-color: var(--red);
}

.button--red:hover {
  background-color: #e98888;
}

.button--transparent {
  background-color: inherit;
  color: var(--navy-blue);
}

.button--transparent:hover {
  text-decoration: underline;
}

.button--logout {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 19px;
  margin-right: 1rem;
  background-color: transparent;
  color: white;
}

@media (min-width: 768px) {
  .button {
    padding: 0.75rem 25px;
    font-size: 0.875rem;
  }

  .button--logout {
    font-size: 0.9375rem;
    line-height: 22px;
    padding: 0;
    margin-right: 0;
  }
}
